* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    --darkgray: rgb(35, 35, 35);
    --gray: rgb(54, 54, 54);
    --ligthgray: rgb(209, 209, 209);
    --blue: rgb(85, 101, 255);
    --green: rgb(0, 227, 150);
    --red: rgb(255, 69, 96);
    --graytransparent: rgba(35, 35, 35, 0.9);
}


body {
    background-image: url(../images/Abstract-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    background-color: var(--darkgray);
    padding: 1em 0.5em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    border-bottom: 2px solid var(--gray);
}

@font-face {
    font-family: millimetre;
    src: url("../fonts/Millimetre-Regular.otf");
}

h2{ 
    text-shadow: 2px 2px 2px black;
    font-family: millimetre;
    color: var(white) !important;
    width: auto;
    /* text-transform: uppercase !important; */
    
}

.main-container{
    height: auto;
    background-color: rgba(84, 11, 255, 0.2);
    border-top: 2px solid var(--ligthgray);
    border-bottom: 2px solid var(--ligthgray) !important;
}

.icons-container {
    display: flex;
    gap: 1em;
}

.navbar {
    background-color: var(--darkgray);
    width: 100%;
    color: white;
    border-bottom: 3px solid var(--gray);
}


.form-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    background-color: rgba(0, 92, 77, 0.8);
    color: white;
    border-radius: 1em;
    margin-bottom: 2em;
}

.btn-log{
    border: none;
    background-color: transparent;
    color: rgb(117, 255, 244);
    font-weight: bolder;
}

.btn-log:hover{
    border: none;
    background-color: transparent;
    color: rgb(98, 216, 206);
    font-weight: bolder;
}

.form-img-container img{
    width: 20em;
}

.form-container input:enabled{
    background-color:rgb(255, 255, 255, 0.3) ;
    border: none;
    color: white;
}

.alert-section-container{
    background-color: rgba(253, 131, 247, 0.3);
}

.alert-container{
    width: 100%;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgba(54, 0, 66, 0.8);
    color: white;
    border-radius: 1em;
}

.alert-container h3{
    text-shadow: 2px 2px 2px black;
    font-size:large;
}

.alert-container p{
    font-size:medium;
}

.alert-container span{
    font-weight: bold;
}

.alert-container i{
    color: var(--red);
}


.swal2-title{
    text-shadow: 1px 1px 1px var(--ligthgray) !important;
    color: var(--darkgray) !important;
}

.swal2-html-container{
    text-shadow: 1px 1px 1px var(--ligthgray) !important;
    color: var(--darkgray) !important;
}

.swal2-icon-content{
    text-shadow: none!important;
    color:rgb(248,187,134)!important;
}

.footer {
    border-top: 2px solid var(--ligthgray);
    color: white;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--darkgray);
}